@import './vars.css'
*, *::before, *::after {
  box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:  var(--primary-100, white);
}

.progressBar{
    width: 100%;
}